<li class="list-group-item line-item d-flex justify-content-between align-items-start">
  <div class="line-item-info">
    <%= render(Utilities::DescriptionListComponent.new(
      {
        "Description" => @item.description,
        "Hourly Rate" => @item.hourly_rate,
        "Duration (hours)" => "#{@item.hours_breakdown[:hours]} hours #{@item.hours_breakdown[:minutes]} minutes",
        "Duration (decimal)" => number_with_precision(@item.total_decimal_hours, precision: 2),
        "Subtotal" => @item.subtotal,
        "Date" => Utils::DateTimeFormatter.format_date_in_timezone(
          date: @item.start_time, 
          timezone_identifier: @timezone_identifier,
        ),
      }
    )) %>
  </div>
  <%= render(
  Utilities::Buttons::ButtonComponent.new(
    text: "Edit",
    link: edit_timesheet_line_item_url(@item.timesheet_id, @item.id),
    style: "primary", 
    ),
  ) %>
</li>