<nav class="navbar">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Sheetstr</a>
    <div class="navbar-actions">
      <%= link_to("Log in", new_user_session_path) %>
      <%= link_to("Sign up", new_user_registration_path) %>
    </div>
  </div>
</nav>
