<h2>Timesheet for <%= @timesheet.start_date.strftime("%A, %B %d %Y") %> to <%= @timesheet.end_date.strftime("%A, %B %d %Y") %></h2>
<span id="total-section">
  <span id="value"><%= @timesheet.total_hours_worked %></span>
</span>